{% extends "LaCommentBundle:Moderation:layout.html.twig" %}


{% block title %}Moderation Commentaires{% endblock title %}


{#{% block content %}#}
    {#<div id="list_params" class="col-xs-12 col-sm-9">#}

        {#{% if comments is defined and comments is iterable %}#}
            {#<h2>Commentaires à modérer</h2>#}
            {#{% for comment in comments %}#}
                {#<div class="row odd_or_even">#}
                    {#<div class="col-12 col-sm-12 col-lg-12">#}
                        {#<h3>#}
                            {#<a href=#>#{{ comment.id }}</a>#}
                        {#</h3>#}

                        {#<div>#}
                            {#<p>#}
                                {#{{ comment.title }}#}
                            {#</p>#}
                            {#<p>#}
                                {#{{ comment.body }}#}
                            {#</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#{% endfor %}#}
        {#{% endif %}#}
    {#</div>#}
{#{% endblock content %}#}

{#{% block breadcrumbs %}#}
    {#{{ parent() }}#}
    {#<li>Api</li>#}
{#{% endblock breadcrumbs %}#}

{#{% block navbar %}#}
    {#<li class="active"><a href="{{ url('la_api_doc_home', {'name': name}) }}">Api</a></li>#}
    {#<li><a href="{{ url('la_api_doc_home_appendix', {'name': name}) }}">Appendices</a></li>#}
{#{% endblock navbar %}#}