<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ block('title')|striptags }}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ asset('bundles/lacomment/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/lacomment/bootstrap/css/bootstrap-theme.css') }}"/>
    <link href="{{ asset('bundles/lacomment/css/la_comment_moderation.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('la_comment_moderation_home') }}">Threads Api moderation</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% block navbar %}
                    <li><a href="{{ url('la_comment_moderation_pending') }}">Commentaires à modérer</a></li>
                    <li><a href="{{ url('la_comment_moderation_recents') }}">Commentaires modérés récemment</a></li>
                {% endblock navbar %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a title="Connecté en tant que {{ app.user.username }}" href="javascript:void(0);"><span
                                class="glyphicon glyphicon-user"></span>&nbsp;{{ app.user.username }}</a></li>
            </ul>
        </div>

    </div>
</div>
<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <h1 id="title">{{ block('title') }}</h1>


        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% block bottom_js %}
        <script src="{{ asset('bundles/lacomment/js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/lacomment/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/lacomment/js/la_comment_moderation.js') }}" type="text/javascript"></script>
        <script>
            la_comment_moderation.bindAll();
        </script>
    {% endblock %}
</div>
</body>
</html>