{% extends "LaCommentBundle:Moderation:layout.html.twig" %}


{% block title %}Commentaires à modérer{% endblock title %}


{% block content %}

    <div id="list_params">
        {% if comments is defined and comments is iterable %}
            {% for comment in comments %}
                <div class="row" id="comment-{{ comment.id }}">

                    <div class="comment col-9 col-sm-9 col-lg-9">

                        {#{% if comment.ancestors is not empty %}#}
                        {#<div class="row">#}
                        {#<div class="comment-ancestors col-12 col-sm-12 col-lg-12" style="display:none;">#}
                        {#{% for ancestor in comment.ancestors %}#}
                        {#<a href=#>#{{ ancestor }}</a> /#}
                        {#{% endfor %}#}
                        {#</div>#}
                        {#</div>#}
                        {#<div class="comment-ancestors col-12 col-sm-12 col-lg-12">#}
                        {#<a href=# class='answer'>[<em>Voir réponse</em>]</a>#}
                        {#</div>#}
                        {#{% endif %}#}

                        <div class="row comment-header" >
                            <div class="comment-col-left col-3 col-sm-3 col-lg-3">
                                <span>#{{ comment.id }}</span>
                            </div>
                            <div class="comment-col-right col-9 col-sm-9 col-lg-9">
                                    Posté le {{ comment.createdAt|date("d/m/Y à H:i:s") }} dans le
                                    thread {{ comment.thread.id }}
                                    --
                                    <small><a href="{{ comment.thread.permalink }}">[Permalink]</a></small>
                            </div>
                        </div>
                        <div class="row comment-body">
                            <div class="comment-col-left col-3 col-sm-3 col-lg-3">
                                <img src="{{ comment.avatar }}"/>

                                <p>
                                    <strong>#{{ comment.userId }}</strong> - {{ comment.username }}<br/>
                                    {{ comment.email }}
                                </p>
                            </div>

                            <div class="comment-col-right col-9 col-sm-9 col-lg-9">
                                {% if comment.title != '' and comment.title is not null %}
                                    <p class="comment-title">{{ comment.title }}</p>
                                {% endif %}

                                <p class="comment-body">{{ comment.body }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="comment-action col-3 col-sm-3 col-lg-3">
                        <button type="button" id="validate-comment-{{ comment.id }}"
                                class="btn btn-success validate-comment">Valider
                        </button>

                        <form>
                            <button type="button" id="reject-comment-{{ comment.id }}"
                                    class="btn btn-danger reject-comment">Refuser
                            </button>
                            <select id="reject-comment-cause-{{ comment.id }}">
                                <option value="null" disabled selected>Choisissez :</option>
                                {% for key, cause in causes %}
                                    <option value="{{ key }}">{{ cause }}</option>
                                {% endfor %}
                            </select>
                        </form>

                        {#<button type="button" class="btn btn-warning" disabled="disabled">Bannir</button>#}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}

    {#{% block breadcrumbs %}#}
    {#{{ parent() }}#}
    {#<li>Api</li>#}
    {#{% endblock breadcrumbs %}#}

    {#{% block navbar %}#}
    {#<li class="active"><a href="{{ url('la_api_doc_home', {'name': name}) }}">Api</a></li>#}
    {#<li><a href="{{ url('la_api_doc_home_appendix', {'name': name}) }}">Appendices</a></li>#}
{#{% endblock navbar %}#}