{% extends "LaCommentBundle:Admin:Include/comments.html.twig" %}

{% block title %}
    Commentaires signalés en abus
{% endblock title %}

{% block lead %}
    <p>Ignorez les alertes qui ne vous paraissent pas légitimes.</p>
    <p>Acceptez les alertes qui vous paraissent légitimes ET pensez à refuser le commentaire</p>
    <hr/>
{% endblock lead %}


{% block content %}

    {% block sub_nav %}
        <div class="row">
            <div class="col-lg-8">
                <ul class="nav nav-tabs" role="tablist">
                    <li{% if sorter == 'date_desc' %} class="active"{% endif %}><a
                                href="{{ url('la_comment_moderation_alerts', { sorter: 'date_desc'}) }}">Les plus
                            récents</a></li>
                    <li{% if sorter == 'date_asc' %} class="active"{% endif %}><a
                                href="{{ url('la_comment_moderation_alerts', { sorter: 'date_asc'}) }}">Les plus
                            anciens</a></li>
                </ul>
            </div>
        </div>

        <hr/>
    {% endblock sub_nav %}

    {% if alerts is defined and alerts is iterable %}
        {% for alert in alerts %}
            {% set comment = alert.comment %}
            {% set alerts = alert.alerts %}
            {% embed 'LaCommentBundle:Admin:Include/comment.html.twig' %}
                {% block top %}
                {% endblock %}

                {% block bottom %}
                    <div class="panel-body">
                        {% for alert in alerts %}
                            {% if(alert.status == 0) %}
                                {% set alertClass = 'warning' %}
                            {% elseif(alert.status == 1) %}
                                {% set alertClass = 'danger' %}
                                {% set status = '[] ' %}
                            {% elseif(alert.status == 2) %}
                                {% set alertClass = 'info' %}
                                {% set status = '[Alerte ignorée] ' %}
                            {% endif %}
                            <div class="panel panel-{{ alertClass }}" id="alert-{{ alert.id }}">
                                <div class="panel-heading">
                                    {% if(alert.status == 2) %}
                                        {% set icon = 'bell-o' %}
                                    {% else %}
                                        {% set icon = 'bell' %}
                                    {% endif %}
                                    <i class="fa fa-{{ icon }} fa-fw"></i> Alerte postée
                                    le {{ alert.created|date("d/m/Y à H:i:s") }} par
                                    <strong><a class="btn-outline btn-{{ alertClass }}"
                                               href="mailto:{{ alert.email }}">{{ alert.email }}</a> [{{ alert.ip }}
                                        ]</strong>
                                    {% if(alert.status == 0) %}
                                        --
                                        <a class="btn btn-danger btn-sm reject-alert"
                                           id="reject-alert-{{ alert.id }}"
                                           href="#">Ignorer</a>

                                        <a class="btn btn-success btn-sm validate-alert"
                                           id="validate-alert-{{ alert.id }}"
                                           href="#">Accepter</a>
                                    {% elseif(alert.status == 1) %}
                                        <div>
                                            <i class="fa fa-warning fa-fw"></i> <strong>Alerte prise en compte, vous
                                                devriez refuser le commentaire</strong>
                                        </div>
                                    {% endif %}

                                </div>
                                <div class="panel-body">
                                    {{ alert.description }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endblock bottom %}
            {% endembed %}

        {% endfor %}
    {% endif %}

    {% block pagination %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endblock pagination %}

{% endblock content %}


{% block extra_js %}
    <script src="{{ asset('bundles/lacomment/js/la_comment_moderation.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lacomment/js/la_comment_alert.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        la_comment_moderation.bindAll();
        la_comment_alert.bindAll();
    </script>
{% endblock extra_js %}