{% extends "LaCommentBundle:Admin:pending.html.twig" %}

{% block title %}
    Commentaire #{{  comments.0.id }}
{% endblock title %}

{% block sub_nav %}
{% endblock sub_nav %}

{% block pagination %}
{% endblock pagination %}