{% extends "LaCommentBundle:Admin:Include/comments.html.twig" %}

{% block title %}
    Commentaires Refusés
{% endblock title %}

{% block sub_nav %}
    <div class="row">
        <div class="col-lg-8">
            <ul class="nav nav-tabs" role="tablist">
                <li{% if sorter == 'date_desc' %} class="active"{% endif %}><a
                            href="{{ url('la_comment_moderation_refused', { sorter: 'date_desc'}) }}">Les plus
                        récents</a></li>
                <li{% if sorter == 'date_asc' %} class="active"{% endif %}><a
                            href="{{ url('la_comment_moderation_refused', { sorter: 'date_asc'}) }}">Les plus
                        anciens</a></li>
            </ul>
        </div>
    </div>

    <hr />
{% endblock sub_nav %}
