{% extends "LaCommentBundle:Admin:Include/comments.html.twig" %}

{% block title %}
    {{ comments|length }} résultat{% if comments|length>1 %}s{% endif %}{% if count > comments|length %} <small>({{ count }} trouvés, affinez votre recherche)</small>{% endif %}
{% endblock title %}

{% block sub_nav %}

    <div class="row">
        <div class="col-lg-8">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Eléments recherchés</div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Clé</th>
                        <th>Valeur</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, value in data %}
                        {% if value is not empty %}
                            <tr>
                                <td width="30">{{ ('la_comment_admin.search.' ~ key)|trans({}, 'admin') }}</td>
                                <td>{{ value|trans({}, 'admin') }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>


{% endblock sub_nav %}

{% block pagination %}
{% endblock pagination %}