{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}
    Rechercher un commentaire</em>
{% endblock title %}

{% block content %}

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Saisissez une adresse email par ligne.
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form(form) }}
                            </div>

                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
    </div>


{% endblock content %}