

.la_comment_thread_show {
    margin-top: 2em;
    padding: 1em 20px;
    width: 472px;
    background: #f0f0f0;
    box-shadow: 0 0 7px #bbb;
    -moz-box-shadow: 0 0 7px #bbb;
    -webkit-box-shadow: 0 0 7px #bbb;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.la_comment_thread_show h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #a0a0a0;
}
.la_comment_comment_show {
    color: #555;
}
.la_comment_comment_metas {
    margin: 1.5em 0 0.5em 0;
    padding: 1em 20px;
    background: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.la_comment_comment_body {
    line-height: 1.5em;
}
.la_comment_comments .la_comment_comments {
    margin-left: 2em;
}
.la_comment_comment_reply {
    text-align: right;
}
.la_comment_comment_reply.replying {
    text-align: left;
    margin-top: 1em;
    padding: 1em 20px;
    background: #d6d6d6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.la_comment_comment_reply_show_form {
    padding: 2px 5px;
    font-size: 0.8em;
}
.la_comment_comment_reply.la_comment_replying button.la_comment_comment_reply_show_form {
    display: none;
}
.la_comment_thread_comments {
    margin-bottom: 1.5em;
}
.la_comment_reply_prototype {
    display: none;
}
.la_comment_thread_show > form.la_comment_comment_form {
    margin-bottom: 1em;
}
form.la_comment_comment_form.processing {
    opacity: 0.5;
}
form.la_comment_comment_form label.author_name {
    margin-top: 3px;
    float:left;
}
form.la_comment_comment_form label.author_name input {
    padding: 2px 5px;
}
form.la_comment_comment_form textarea {
    width: 98%;
    height: 6em;
    padding: 1%;
}
form.la_comment_comment_form.error textarea {
    border-color: red;
}
.la_comment_form_errors {
    color: #ff0000;
}
.la_comment_submit {
    text-align: right;
}
.la_comment_submit input {
    font-size: 1.2em;
    padding: 3px 12px;
    margin-top: 3px;
}
a.la_comment_thread_feed {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
}
.la_comment_comment_voting {
    float: right;
}
.la_comment_comment_score {
    display: inline-block;
}
