{% if comment.ancestors|length %}
    {% set parent_id = comment.ancestors[comment.ancestors|length - 1] %}
{% else %}
    {% set parent_id = null %}
{% endif %}

{% if comment.moderationState <3 %}
    {% set commentState = 'warning' %}
{% elseif comment.moderationState == 3 %}
    {% set commentState = 'success' %}
{% elseif comment.moderationState > 3 %}
    {% set commentState = 'danger' %}

{% endif %}

<div class="row" id="comment-{{ comment.id }}">
    <div class="col-lg-8">
        <div class="panel panel-{{ commentState }}">


            {% block top %}
            {% endblock top %}
            <div class="panel-heading">
                {% if comment.moderationState == 0 or  comment.moderationState == 1 %}
                    <button title="A modérer" type="button" class="btn btn-{{ commentState }}">
                        <strong>#{{ comment.id }}</strong></button>
                {% else %}
                    <button title="{% if comment|isValidated %}Validé{% else %}Refusé {% if causes[comment.moderationCause] is defined %}pour « {{ causes[comment.moderationCause] }} »"{% endif %}{% endif %}
                    " type="button" class="btn btn-{{ commentState }}">#{{ comment.id }}</button>
                {% endif %}
                Posté le {{ comment.createdAt|date("d/m/Y à H:i:s") }} dans le
                thread {{ comment.thread.id }}
                &nbsp;
                <a class="btn btn-outline btn-default btn-sm" href="{{ comment.thread.permalink }}"
                   onclick="window.open('{{ comment.thread.permalink }}');return false;">Permalink</a>

                {% if parent_id is not null %}
                    <br/>
                    <i class="fa fa-comments-o fa-fw"></i>En réponse à <a class="btn btn-outline btn-default"
                                                                          href="{{ url('la_comment_moderation_comment', {'id': parent_id}) }}">#{{ parent_id }}</a>
                {% endif %}

                <br/>
                <br/>

                {% if comment.moderationState > 3 %}
                    <i class="fa fa-trash-o fa-fw"></i>Refusé {% if causes[comment.moderationCause] is defined %}pour <strong>« {{ causes[comment.moderationCause] }} »{% endif %}</strong>
                {% else %}
                    <i class="fa fa-check-square-o fa-fw"></i>Validé
                {% endif %}
                par <strong>{{ comment.moderatedBy }}</strong> le {{ comment.moderatedOn|date("d/m/Y à H:i:s") }}

            </div>
            <div class="panel-body">
                <div class="col-lg-3 panel panel-default panel-heading">
                    {% if comment.avatar %}
                        {% set avatar = comment.avatar %}
                    {% else %}
                        {% set avatar = asset('bundles/lacomment/images/avatar_default.png') %}
                    {% endif %}
                    {% if avatar is defined %}
                        <img src="{{ avatar }}" width="90" height="90" class="img-circle"/>
                    {% endif %}

                    <p>
                        <strong>#{{ comment.userId }}</strong> {{ comment.username }}<br/>
                        {% if comment.email is not empty %}
                            <a href="mailto:{{ comment.email }}" title="{{ comment.email }}"><i
                                        class="fa fa-envelope-o fa-fw"></i></a>
                        {% endif %}
                        {{ comment.ip }}
                    </p>

                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-9">
                    {% if comment.title != '' and comment.title is not null %}
                        <h4>{{ comment.title }}</h4>
                        <hr>
                    {% endif %}

                    <p class="comment-body">{{ comment.body }}</p>
                </div>
            </div>

            {% block bottom %}
            {% endblock bottom %}

        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">


        <form>
            <div class="well">
                <button type="button" class="btn btn-success validate-comment"
                        id="validate-comment-{{ comment.id }}"
                        {% if comment|isValidated %}
                            disabled="disabled"
                        {% endif %}
                        >
                    Valider
                </button>

                <button type="button" class="btn btn-danger reject-comment"
                        id="reject-comment-{{ comment.id }}">
                    Refuser
                </button>


                <select id="reject-comment-cause-{{ comment.id }}">
                    <option value="null" disabled selected>Choisissez :</option>
                    {% for key, cause in causes %}
                        <option value="{{ key }}">{{ cause }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>


</div>