{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}
    Commentaires à modérer
{% endblock title %}

{% block content %}
    {% block sub_nav %}
    {% endblock sub_nav %}

    {% if comments is defined and comments is iterable %}
        {% for comment in comments %}

            {% embed 'LaCommentBundle:Admin:Include/comment.html.twig' %}
                {% block top %}
                {% endblock %}

                {% block bottom %}
                {% endblock %}
            {% endembed %}


        {% endfor %}
    {% endif %}

    {% block pagination %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endblock pagination %}

{% endblock content %}

{% block extra_js %}
    <script src="{{ asset('bundles/lacomment/js/la_comment_moderation.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        la_comment_moderation.bindAll();
    </script>
{% endblock extra_js %}
