.comment {
    margin-top: 30px;
    border: 1px solid darkgray;
    padding-left: 0;
    padding-right: 0;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.comment-header {
    margin-bottom: 15px;
    margin-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid darkgray;
    background-color: lightgray;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.comment-header span {
    font-size: 24px;
    margin-left: -30px;
}

.comment-header .comment-col-right {
    margin-top: 7px;
}

.comment-verdict {
    display: block;
    border-bottom: 1px solid darkgray;
    padding: 5px;
    width: 100%;
    margin-left: 0;
    text-align: center;
    font-size: large;
    font-weight: bold;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.comment-action button {
    margin-top: 25%;
    width: 35%;
    height: 40px;
}

.comment-action select {
    width: 60%;
    height: 40px;
    float: right;
    margin-top: 25%;
}

.comment-ancestors a {
    text-align: center;
}

.comment-body .comment-col-left {
    text-align: center;
    padding: 10px;
}

.comment-body .comment-col-left img {
    width: 90px;
    height: 90px;
}

.comment-title {
    font-weight: bold;
    text-decoration: underline;
}