{% extends "LaCommentBundle:Alert:layout.html.twig" %}

{% form_theme form 'LaCommentBundle:Alert:bootstrap_form_theme.html.twig' %}

{% block title %}
    Signaler un commentaire
{% endblock title %}

{% block content %}
    <p>
        Vous avez repéré un commentaire avec un contenu illégal ou portant atteinte à vos droits ?
    </p>
    <p>
        Afin de nous aider à traiter votre alerte, merci de nous décrire précisément ce qui vous paraît illégal dans ce
        message.
    </p>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {{ form_rest(form) }}

{% endblock content %}
