{% extends "LaCommentBundle:Alert:layout.html.twig" %}

{% block title %}
    Signaler un commentaire
{% endblock title %}

{% block content %}
    <p>
        Désolé, une erreur est intervenue.
    </p>
{% endblock content %}
