<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="/favicon.ico">
    <title>{{ block('title') }}</title>
    <link href="{{ asset('bundles/lacomment/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>


<div class="container">
    <div class="page-header">
        <h1>{% block title %}{% endblock title %}</h1>
    </div>

    {% block content %}
    {% endblock content %}
</div>
</body>
</html>
