{% extends "LaCommentBundle:Alert:layout.html.twig" %}

{% block title %}
    Signaler un commentaire
{% endblock title %}

{% block content %}
    <p>
        Merci de votre aide, notre équipe de modérateurs va traiter votre alerte dans les plus brefs délais.
    </p>

    <script type="text/javascript">
        try {
            if (window.opener !== null) {
                document.write('<hr /><p><a href="javascript:window.close();">Fermer la fenêtre</a></p>');
            }
        }
        catch (e) {
        }
    </script>
{% endblock content %}
