{% extends layout %}

{% block title %}Statistiques Commentaires{% endblock title %}

{% block extra_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/bundles/lauser/css/stats.css"/>
{% endblock extra_stylesheets %}

{% block content %}
    {{ parent() }}
    <div id="tabs" class="tabs">
        <div class="content">
            <div class="statsCanvas" id="commentsStatContent">
                <p>Données non disponibles</p>
                <!-- Stats details chart goes here... -->
            </div>
        </div>
        <!-- /content -->
    </div><!-- /tabs -->
{% endblock content %}



{% block extra_js %}
    <script type="text/javascript">
        var url_stats_prefix = '/admin/stats';
    </script>
    <script type="text/javascript" src="/bundles/lastats/js/highcharts.js"></script>
    <script type="text/javascript" src="/bundles/lastats/js/exporting.js"></script>
    <script type="text/javascript" src="/bundles/lastats/js/export-csv.js"></script>
    <script type="text/javascript" src="/bundles/lastats/js/la.stats.js"></script>

    <script type="text/javascript">
        {% if type is defined %}
        US.init('{{ type }}'); // init stats
        {% else %}
        console.warn('Invalid stats type. Stats initialization aborted.');
        {% endif %}
    </script>

{% endblock %}