{% extends 'LaCommentBundle:Admin:Stats/common.html.twig' %}

{% block extra_js %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/lacomment/js/stats/la.stats.comment.yearly.js"></script>
{% endblock %}