

<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ title }}</title>
    <requested>{{ requested|date }}</requested>
{% for threadinfo in threads %}
    <entry>
        <id>{{ threadinfo.id }}</id>
        <link rel="alternate">{{ threadinfo.permalink }}</link>
        <last_comment_at>{{ threadinfo.lastCommentAt|date }}</last_comment_at>
        <enabled>{{ threadinfo.isEnabled }}</enabled>
        <commentable>{{ threadinfo.isCommentable }}</commentable>
        <comments_count>{{ threadinfo.numComments }}</comments_count>
        {% if threadinfo.type == 1 %}
            <rating>{{ threadinfo.rating }}</rating>
        {% endif %}
    </entry>
{% endfor %}
</feed>
