

<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ title }}</title>
    <requested>{{ requested|date }}</requested>
{% for commentinfo in comments %}
    <entry>
        <title>{{ commentinfo.title }}</title>
        <created>{{ commentinfo.createdAt|date }}</created>
        <author>
            <username>{{ commentinfo.username }}</username>
            <email>{{ commentinfo.email }}</email>
            <avatar>{{ commentinfo.avatar }}</avatar>
        </author>
        <updated>{{ commentinfo.createdAt|date("c") }}</updated>
        <link rel="alternate">{{ commentinfo.thread.permalink }}#{{ commentinfo.id }}</link>
        <body>{{ commentinfo.body }}</body>
    </entry>
{% endfor %}
</feed>
